<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <link rel="stylesheet" href="./css/<%= active %>.css">
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publicRowFlex">
          <div class="publicCol-7 customMian">
            <div class="publicBox weighted">
              <!-- <div class="publictitle">
                <div class="title">
                  <h4>加權指數</h4>
                </div>
              </div> -->
              <div id="weighted_chart"></div>
            </div>
            <div class="publicBox updownnumber">
              <div class="publictitle">
                <div class="title">
                  <h4>上市類股漲跌</h4>
                  <p class="time">更新時間 : <%= data['threecargofinancing']?data['threecargofinancing'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>價位</p></li>
                  <li><p>漲跌</p></li>
                </ul>
                <% if(data['listed']){data['listed'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p><%= o.name %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.price))<0){%>green<%}%>"><%= o.price %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.undulation))<0){%>green<%}%>"><%= o.undulation %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4>三大法人買賣超</h4>
                  <p class="time">更新時間 : <%= data['threecargofinancing']?data['threecargofinancing'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>日期</p></li>
                  <li><p>外資</p></li>
                  <li><p>投信</p></li>
                  <li><p>自營商</p></li>
                  <li><p>合計</p></li>
                  <li><p>融資</p></li>
                  <li><p>融劵</p></li>
                </ul>
                <% if(data['threecargofinancing']){ data['threecargofinancing'].forEach(function(o) { %>
                <ul class="table_content">
                  <li><p><%= o.date %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.foreign))<0){%>green<%}%>"><%= o.foreign %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.letter))<0){%>green<%}%>"><%= o.letter %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.proprietor))<0){%>green<%}%>"><%= o.proprietor %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.total))<0){%>green<%}%>"><%= o.total %></p></li>
                  <li><p><%= o.financing %></p></li>
                  <li><p><%= o.lending %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4>期貨買賣超</h4>
                  <p class="time">更新時間 : <%= data['threefutures']?data['threefutures'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>日期</p></li>
                  <li><p>前5大</p></li>
                  <li><p>前10大</p></li>
                  <li><p>外資</p></li>
                  <li><p>投信</p></li>
                  <li><p>自營商</p></li>
                </ul>
                <% if(data['threefutures']){ data['threefutures'].forEach(function(o) { %>
                <ul class="table_content">
                  <li><p><%= o.date %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.topfive))<0){%>green<%}%>"><%= o.topfive %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.topten))<0){%>green<%}%>"><%= o.topten %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.foreign))<0){%>green<%}%>"><%= o.foreign %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.letter))<0){%>green<%}%>"><%= o.letter %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.proprietor))<0){%>green<%}%>"><%= o.proprietor %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4>大盤上下跌家數</h4>
                  <p class="time">更新時間 : <%= data['updownnumber']?data['updownnumber'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>日期</p></li>
                  <li><p>上漲家數</p></li>
                  <li><p>下跌家數</p></li>
                  <li><p>合計家數</p></li>
                  <li><p>權值上漲</p></li>
                  <li><p>權值下跌</p></li>
                  <li><p>註解</p></li>
                </ul>
                <% if(data['updownnumber']){ data['updownnumber'].forEach(function(o) { %>
                <ul class="table_content">
                  <li><p><%= o.date %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.uphome))<0){%>green<%}%>"><%= o.uphome %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.downhome))<0){%>green<%}%>"><%= o.downhome %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.Diffhome))<0){%>green<%}%>"><%= o.Diffhome %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.upweighted))<0){%>green<%}%>"><%= o.upweighted %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.downweighted))<0){%>green<%}%>"><%= o.downweighted %></p></li>
                  <li><p><%= o.annotation %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox prosperity">
              <div class="publictitle">
                <div class="title">
                  <h4>景氣對策信號</h4>
                  <ul class="item">
                    <li>低迷 16-9分</li>
                    <li>穩定 31-23分</li>
                    <li class="publicTextRed">熱絡 45-38分</li>
                  </ul>
                </div>
              </div>
              <div id="prosperity_chart"></div>
            </div>
            <div class="publicBox dollars">
              <div class="publictitle">
                <div class="title">
                  <h4>美元匯率</h4>
                </div>
              </div>
              <div id="dollars_chart"></div>
            </div>
          </div>
          <div class="publicCol-3 customNav">
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4>即將除息股票</h4>
                  <p class="time">更新時間 : <%= data['exdividend']?data['exdividend'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>除息日期</p></li>
                </ul>
                <% if(data['exdividend']){ data['exdividend'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p class="publicEllipsis1"><%= o.name %></p></li>
                  <li><p><%= o.ex_date %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4>上市法人買賣排名</h4>
                  <p class="time">更新時間 : <%= data['ranking']?data['ranking'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>增減</p></li>
                </ul>
                <% if(data['ranking']){ data['ranking'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p class="publicEllipsis1"><%= o.name %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.number))<0){%>green<%}%>"><%= o.number %></p></li>
                </ul>
                <% });}%>
              </div>
            </div>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4>大股東持股增減</h4>
                  <p class="time">更新時間 : <%= data['holder']?data['holder'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title"> 
                  <li><p>名稱</p></li>
                  <li><p>增減</p></li>
                </ul>
                <% if(data['holder']){ data['holder'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p class="publicEllipsis1"><%= o.name %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.number))<0){%>green<%}%>"><%= o.number %></p></li>
                </ul>
                <% });}%>
              </div>
            </div>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4>散戶持股增減</h4>
                  <p class="time">更新時間 : <%= data['retail']?data['retail'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>增減</p></li>
                </ul>
                <% if(data['retail']){ data['retail'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p class="publicEllipsis1"><%= o.name %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.number))<0){%>green<%}%>"><%= o.number %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js'></script> -->
    <!-- <script src="http://code.hcharts.cn/highstock/10.0.0/highstock.js"></script> -->
    <!-- <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> -->
    <!-- <script src="https://code.hcharts.cn/highcharts.js"></script> -->
    <!-- <script src="https://code.hcharts.cn/highstock/highstock.js"></script> -->
    <!-- <script src="http://cdn.hcharts.cn/highstock/highstock.js"></script>  -->
    <!-- <script src="https://code.hcharts.cn/highstock/highstock.js"></script>
    <script src="https://code.hcharts.cn/plugins/zh_cn.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src="./js/<%= active %>.js"></script>
  </div>
</body>
</html>