<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <link rel="stylesheet" href="./css/<%= active %>.css">
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publicRowFlex">
          <div class="publicCol-7 customMian">
            <% /* %>
            <!-- <div class="publicBox updownnumber">
              <div class="publictitle">
                <div class="title">
                  <h4>上市類股漲跌</h4>
                  <p class="time">更新時間 : <%= data['threecargofinancing']?data['threecargofinancing'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>價位</p></li>
                  <li><p>漲跌</p></li>
                </ul>
                <% if(data['listed']){data['listed'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p><%= o.name %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.price))<0){%>green<%}%>"><%= o.price %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.undulation))<0){%>green<%}%>"><%= o.undulation %></p></li>
                </ul>
                <% });} %>
              </div>
            </div> -->
            <!-- <div class="publicBox updownnumber">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://agdstock.club/udc-p" target="_blank">大盤上下跌家數</a></h4>
                  <p class="time">更新時間 : <%= data['updownnumber']?data['updownnumber'][0]['date']:'' %></p>
                </div>
              </div>
              <div id="updownnumber_chart"></div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>日期</p></li>
                  <li><p>上漲家數</p></li>
                  <li><p>下跌家數</p></li>
                  <li><p>合計家數</p></li>
                  <li><p>權值上漲</p></li>
                  <li><p>權值下跌</p></li>
                  <li><p>註解</p></li>
                </ul>
                <% if(data['updownnumber']){ data['updownnumber'].forEach(function(o) { %>
                <ul class="table_content">
                  <li><p><%= o.date %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.uphome))<0){%>green<%}%>"><%= o.uphome %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.downhome))<0){%>green<%}%>"><%= o.downhome %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.Diffhome))<0){%>green<%}%>"><%= o.Diffhome %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.upweighted))<0){%>green<%}%>"><%= o.upweighted %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.downweighted))<0){%>green<%}%>"><%= o.downweighted %></p></li>
                  <li><p><%= o.annotation %></p></li>
                </ul>
                <% });} %>
              </div>
            </div> -->
            <!-- <div class="publicBox vix">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://histock.tw/index/VIX" target="_blank">恐慌指數VIX</a></h4>
                  <ul class="item">
                    <li>低於20 市場處於穩定</li>
                    <li>接近20 市場可能出現波動</li>
                    <li>20~30	市場出現波動</li>
                    <li>高於30 市場波動增強</li>
                  </ul>
                </div>
              </div>
              <div id="vix_chart"></div>
            </div> -->
            <% */ %>
            <div class="publicBox weighted">
              <!-- <div class="publictitle">
                <div class="title">
                  <h4>加權指數</h4>
                </div>
              </div> -->
              <div id="weighted_chart"></div>
            </div>
            <div class="publicBox threecargofinancing">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://goodinfo.tw/tw/ShowK_Chart.asp?STOCK_ID=%E5%8A%A0%E6%AC%8A%E6%8C%87%E6%95%B8&CHT_CAT2=DATE&PERIOD=365" target="_blank">三大法人買賣超</a></h4>
                  <p class="time">更新時間 : <%= data['threecargofinancing']?data['threecargofinancing'][0]['date']:'' %></p>
                </div>
              </div>
              <div id="threecargo_chart"></div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>日期</p></li>
                  <li><p>外資</p></li>
                  <li><p>投信</p></li>
                  <li><p>自營商</p></li>
                  <li><p>合計</p></li>
                  <li><p>融資</p></li>
                  <li><p>融劵</p></li>
                </ul>
                <% if(data['threecargofinancing']){ data['threecargofinancing'].forEach(function(o) { %>
                <ul class="table_content">
                  <li><p><%= o.date %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.foreign))<0){%>green<%}%>"><%= o.foreign %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.letter))<0){%>green<%}%>"><%= o.letter %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.proprietor))<0){%>green<%}%>"><%= o.proprietor %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.total))<0){%>green<%}%>"><%= o.total %></p></li>
                  <li><p><%= o.financing %></p></li>
                  <li><p><%= o.lending %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox threefutures">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://stock.wearn.com/taifexphoto.asp" target="_blank">期貨買賣超</a></h4>
                  <p class="time">更新時間 : <%= data['threefutures']?data['threefutures'][0]['date']:'' %></p>
                </div>
              </div>
              <div id="threefutures_chart"></div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>日期</p></li>
                  <li><p>前5大</p></li>
                  <li><p>前10大</p></li>
                  <li><p>外資</p></li>
                  <li><p>投信</p></li>
                  <li><p>自營商</p></li>
                </ul>
                <% if(data['threefutures']){ data['threefutures'].forEach(function(o) { %>
                <ul class="table_content">
                  <li><p><%= o.date %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.topfive))<0){%>green<%}%>"><%= o.topfive %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.topten))<0){%>green<%}%>"><%= o.topten %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.foreign))<0){%>green<%}%>"><%= o.foreign %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.letter))<0){%>green<%}%>"><%= o.letter %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.proprietor))<0){%>green<%}%>"><%= o.proprietor %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox greedy">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://production.dataviz.cnn.io/index/fearandgreed/graphdata" target="_blank">貪婪指數</a></h4>
                  <ul class="item">
                    <li>更新時間 : <%= data['greedy_date']?data['greedy_date'].at(-1):'' %></li>
                    <li>極度恐懼 0-25分</li>
                    <li>恐懼 25-45分</li>
                    <li>中性 45-55分</li>
                    <li>貪婪 55-75分</li>
                    <li>極度貪婪 75-100分</li>
                  </ul>
                </div>
              </div>
              <div id="greedy_chart"></div>
            </div>
            <div class="publicBox prosperity">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://index.ndc.gov.tw/n/zh_tw/data/eco/indicators_table1" target="_blank">景氣對策信號</a></h4>
                  <ul class="item">
                    <li>更新時間 : <%= data['prosperity_date']?data['prosperity_date'].at(-1):'' %></li>
                    <li>低迷 0-16分</li>
                    <li>穩定 23-31分</li>
                    <!-- <li class="publicTextRed">熱絡 38-45分</li> -->
                    <li>熱絡 38-45分</li>
                  </ul>
                </div>
              </div>
              <div id="prosperity_chart"></div>
            </div>
            <div class="publicBox dollars">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://www.taifex.com.tw/cht/3/dailyFXRate" target="_blank">美元匯率</a></h4>
                  <p class="time">更新時間 : <%= data['dollars_date']?data['dollars_date'].at(-1):'' %></p>
                </div>
              </div>
              <div id="dollars_chart"></div>
            </div>
            <div class="publicBox smallhouseholds">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://gooptions.cc/%E4%BA%86%E8%A7%A3%E5%8F%B0%E6%8C%87%E6%9C%9F%E6%95%A3%E6%88%B6%E5%A4%9A%E7%A9%BA%E6%AF%94%EF%BC%8C%E7%9C%8B%E7%9C%8B%E6%95%A3%E6%88%B6%E5%8B%95%E5%90%91%E5%86%8D%E8%B7%9F%E4%BB%96%E5%80%91%E5%B0%8D/" target="_blank">小台散戶多空比</a></h4>
                  <p class="time">更新時間 : <%= data['smallhouseholds_date']?data['smallhouseholds_date'].at(-1):'' %></p>
                </div>
              </div>
              <div id="smallhouseholds_chart"></div>
            </div>
          </div>
          <div class="publicCol-3 customNav">
            <% /* %>
            <!-- <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4>即將除息股票</h4>
                  <p class="time">更新時間 : <%= data['exdividend']?data['exdividend'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>除息日期</p></li>
                </ul>
                <% if(data['exdividend']){ data['exdividend'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p class="publicEllipsis1"><%= o.name %></p></li>
                  <li><p><%= o.ex_date %></p></li>
                </ul>
                <% });} %>
              </div>
            </div> -->
            <% */ %>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://agdstock.club/slgpd-p" target="_blank">上市法人買賣排名</a></h4>
                  <p class="time">更新時間 : <%= data['ranking']?data['ranking'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>增減</p></li>
                </ul>
                <% if(data['ranking']){ data['ranking'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p class="publicEllipsis1"><%= o.name %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.number))<0){%>green<%}else{%>red<%} %>"><%= o.number %></p></li>
                </ul>
                <% });}%>
              </div>
            </div>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://agdstock.club/udc-p" target="_blank">大股東持股增減</a></h4>
                  <p class="time">更新時間 : <%= data['holder']?data['holder'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title"> 
                  <li><p>名稱</p></li>
                  <li><p>增減</p></li>
                </ul>
                <% if(data['holder']){ data['holder'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p class="publicEllipsis1"><%= o.name %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.number))<0){%>green<%}else{%>red<%} %>"><%= o.number %></p></li>
                </ul>
                <% });}%>
              </div>
            </div>
            <div class="publicBox">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://agdstock.club/flock-p" target="_blank">散戶持股增減</a></h4>
                  <p class="time">更新時間 : <%= data['retail']?data['retail'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>增減</p></li>
                </ul>
                <% if(data['retail']){ data['retail'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li><p class="publicEllipsis1"><%= o.name %></p></li>
                  <li><p class="<% if(Math.sign(parseInt(o.number))<0){%>green<%}else{%>red<%} %>"><%= o.number %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox monthlystatistics">
              <div class="publictitle">
                <div class="title">
                  <h4><a href="https://goodinfo.tw/tw/StockHisAnaMonth.asp?STOCK_ID=%E5%8A%A0%E6%AC%8A%E6%8C%87%E6%95%B8" target="_blank">加權月統計</a></h4>
                  <% /* %><!-- <p class="time">更新時間 : <%= data['monthlystatistics']?data['monthlystatistics'][date]:'' %></p> --> <% */ %>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>月份</p></li>
                  <li><p>總數/漲數/跌數</p></li>
                  <li><p>統計結果</p></li>
                </ul>
                <% if(data['monthlystatistics']){ data['monthlystatistics'].forEach(function(o) { %>
                <ul class="table_content">
                  <li><p><%= ('0'+(o.date)).slice(-2) %></p></li>
                  <li><p><%= ('0'+(o.years)).slice(-2) %></p>/<p class="red"><%= ('0'+(o.rises)).slice(-2) %></p>/<p class="green"><%= ('0'+(o.drops)).slice(-2) %></p></li>
                  <li><p class="<% if(o.statistics.indexOf('跌')>=0){%>green<%}else{%>red<%} %>"><%= o.statistics %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src="./js/<%= active %>.js"></script>
  </div>
</body>
</html>