<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <link rel="stylesheet" href="./css/<%= active %>.css">
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publicBox lineGraph">
          <!-- <div class="publictitle">
            <div class="title">
              <h4>日K線</h4>
            </div>
          </div> -->
          <div id="lineGraph"></div>
        </div>
        <div class="publicRowFlex">
          <div class="publicCol-7 customMian">
            <div class="publicBox threecargo">
              <div class="publictitle">
                <div class="title">
                  <h4>三大法人和融資融劵</h4>
                  <p class="time">更新時間 : <%= data['threecargo']?data['threecargo'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li class='date'><p>日期</p></li>
                  <li><p>外資</p></li>
                  <li><p>投信</p></li>
                  <li><p>自營</p></li>
                  <li><p>合計</p></li>
                  <li><p>外資持股</p></li>
                  <li><p>融資餘額</p></li>
                  <li><p>融劵餘額</p></li>
                </ul>
                <% if(data['threecargo']){data['threecargo'].forEach(function(o) { %>
                <ul class="table_content" data-date="<%= o.date %>">
                  <li class='date'><p><%= o.date %></p></li>
                  <li><p><%= o.foreign %></p></li>
                  <li><p><%= o.letter %></p></li>
                  <li><p><%= o.proprietor %></p></li>
                  <li><p><%= o.totle %></p></li>
                  <li><p><%= o.foreignhold %>%</p></li>
                  <li><p><%= o.financing %></p></li>
                  <li><p><%= o.lending %></p></li>
                </ul>
                <% });} %>
                <ul class='remark'>
                  <ol>融資、融券一般被認為是散戶指標，因大戶法人較無資金需求，且使用借券而非融券，因此可有此觀察散戶的動向。</ol>
                  <ol>對於大型股而言股價高檔融資創新高，表示散戶大量進場，市場過熱，反之股價低檔，融券創新高表示股價快要落底。</ol>
                  <ol>而中小型股主力可能使用融資、融券操作，股價低檔時融資暴增，可能是主力介入吸收籌碼，反之高檔時融券暴增，可能是主力正在出貨</ol>
                </ul>
              </div>
            </div>
            <div class="publicBox holder">
              <div class="publictitle">
                <div class="title">
                  <h4>股東持股分級週統計圖</h4>
                  <p class="time">更新時間 : <%= data['holder']?data['holder'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li class='date'><p>日期</p></li>
                  <li><p>50張以下</p></li>
                  <li><p>100張以下</p></li>
                  <li><p>400張以下</p></li>
                  <li><p>800張以下</p></li>
                  <li><p>1000張以下</p></li>
                  <li><p>1000張以上</p></li>
                </ul>
                <% if(data['holder']){ data['holder'].forEach(function(o) { %>
                <ul class="table_content">
                  <li class='date'><p><%= o.date %></p></li>
                  <li><p><%= o.big50 %></p></li>
                  <li><p><%= o.big100 %></p></li>
                  <li><p><%= o.big400 %></p></li>
                  <li><p><%= o.big800 %></p></li>
                  <li><p><%= o.big1000 %></p></li>
                  <li><p><%= o.big1001 %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox sharpedata">
              <div class="publictitle">
                <div class="title">
                  <h4>報酬率比較表</h4>
                  <p class="time">更新時間 : <%= data['sharpedata']?data['sharpedata'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>Sharpe</p></li>
                  <li><p>Beta</p></li>
                  <li><p>標準差</p></li>
                </ul>
                <% if(data['sharpedata']){ data['sharpedata'].forEach(function(o) { %>
                <ul class="table_content">
                  <li><p><%= o.name %></p></li>
                  <li><p><%= o.sharpe %></p></li>
                  <li><p><%= o.beta %></p></li>
                  <li><p><%= o.deviation %></p></li>
                </ul>
                <% });} %>
                <ul class='remark'>
                  <ol>夏普值報酬風險比率，愈大愈好，判定投資組合能否用「愈低的波動」，尋求「愈高的報酬」，例如夏普值為0.8，那此投資組合要創造8%的報酬率，需承受10%的波動風險。</ol>
                  <ol>Beta值與大盤的連動程度，無絕對好壞，Beta值為1.5，代表大盤漲10%，投資組合會上漲15%；反之，若大盤跌10%，投資組合也會下跌15%。Beta值為0.5，代表大盤漲10%，投資組合會上漲5%；反之，若大盤跌10%，投資組合也會下跌5%。</ol>
                  <ol>標準差波動程度，愈小愈穩健，愈大基金淨值的波動振幅就會較為劇烈。</ol>
                </ul>
              </div>
            </div>
          </div>
          <div class="publicCol-3 customNav">
            <div class="publicBox stockPayYear">
              <div class="publictitle">
                <div class="title">
                  <h4>最近5年報酬</h4>
                  <!-- <p class="time">更新時間 : <%= data['stockPayYear']?data['stockPayYear'][0]['date']:'' %></p> -->
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li class='date'><p>日期</p></li>
                  <li><p>報酬</p></li>
                </ul>
                <% if(data['stockPayYear']){data['stockPayYear'].forEach(function(o) { %>
                <ul class="table_content">
                  <li class='date'><p><%= o.year %>年</p></li>
                  <li><p><%= o.avenge %></p></li>
                </ul>
                <% });} %>
                <% if(data['stockCagr']){%>
                  <ul class="table_content">
                    <li class='date'><p>年化報酬率</p></li>
                    <li><p><%= data['stockCagr'] %>%</p></li>
                  </ul>
                  <%} %>
              </div>
            </div>
            <div class="publicBox networthdata">
              <div class="publictitle">
                <div class="title">
                  <h4>最近淨值</h4>
                  <p class="time">更新時間 : <%= data['networthdata']?data['networthdata'][0]['date']:'' %></p>
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li class='date'><p>日期</p></li>
                  <li><p>價格 / 淨值</p></li>
                </ul>
                <% if(data['networthdata']){data['networthdata'].forEach(function(o) { %>
                <ul class="table_content">
                  <li class='date'><p><%= o.date %></p></li>
                  <li><p><%= o.price %> / <%= o.networth %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox networthdata">
              <div class="publictitle">
                <div class="title">
                  <h4>最近6年高低點</h4>
                  <!-- <p class="time">更新時間 : <%= data['networthdata']?data['networthdata'][0]['date']:'' %></p> -->
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li class='date'><p>日期</p></li>
                  <li><p>高點 / 低點</p></li>
                </ul>
                <% if(data['highLowPrice']){data['highLowPrice'].forEach(function(o) { %>
                <ul class="table_content">
                  <li class='date'><p><%= o.year %>年</p></li>
                  <li><p><%= o.max %> / <%= o.min %></p></li>
                </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox stockYield">
              <div class="publictitle">
                <div class="title">
                  <h4>最近5年殖利率</h4>
                  <!-- <p class="time">更新時間 : <%= data['networthdata']?data['networthdata'][0]['date']:'' %></p> -->
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li class='date'><p>日期</p></li>
                  <li><p>股利 / 殖利率</p></li>
                </ul>
                <% if(data['stockYield']){data['stockYield'].forEach(function(o) { %>
                <ul class="table_content">
                  <li class='date'><p><%= o.nowYear %>年</p></li>
                  <li><p><%= o.dividend %> / <%= o.yield %></p></li>
                </ul>
                <% });} %>
                <% if(data['nowYield']){ %>
                  <ul class="table_content">
                    <li class='date'><p>目前殖利率</p></li>
                    <li><p><%= data['nowYield'] %></p></li>
                  </ul>
                <% } %>
              </div>
            </div>
            <div class="publicBox stockYieldPrice">
              <div class="publictitle">
                <div class="title">
                  <h4>便宜合理昂貴價</h4>
                  <!-- <p class="time">更新時間 : <%= data['networthdata']?data['networthdata'][0]['date']:'' %></p> -->
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>名稱</p></li>
                  <li><p>價格</p></li>
                </ul>
                <% if(data['cheapPrice']){ %>
                <ul class="table_content">
                  <li><p>便宜</p></li>
                  <li><p><%= data['cheapPrice'] %></p></li>
                </ul>
                <% } %>
                <% if(data['fairPrice']){ %>
                  <ul class="table_content">
                    <li><p>合理</p></li>
                    <li><p><%= data['fairPrice'] %></p></li>
                  </ul>
                <% } %>
                <% if(data['expensivePrice']){ %>
                  <ul class="table_content">
                    <li><p>昂貴</p></li>
                    <li><p><%= data['expensivePrice'] %></p></li>
                  </ul>
                <% } %>
              </div>
            </div>
            <div class="publicBox industry">
              <div class="publictitle">
                <div class="title">
                  <h4>持股產業</h4>
                  <!-- <p class="time">更新時間 : <%= data['networthdata']?data['networthdata'][0]['date']:'' %></p> -->
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>產業</p></li>
                  <li><p>比例</p></li>
                </ul>
                <% if(data['industry']){data['industry'].forEach(function(o) { %>
                  <ul class="table_content" data-date="<%= o.date %>">
                    <li><p><%= o.name %></p></li>
                    <li><p><%= o.proportion %></p></li>
                  </ul>
                <% });} %>
              </div>
            </div>
            <div class="publicBox shareholding">
              <div class="publictitle">
                <div class="title">
                  <h4>持股明細</h4>
                  <!-- <p class="time">更新時間 : <%= data['networthdata']?data['networthdata'][0]['date']:'' %></p> -->
                </div>
              </div>
              <div class="customTable">
                <ul class="table_title">
                  <li><p>產業</p></li>
                  <li><p>比例</p></li>
                </ul>
                <% if(data['shareholding']){data['shareholding'].forEach(function(o) { %>
                  <ul class="table_content" data-date="<%= o.date %>">
                    <li><p><%= o.name %></p></li>
                    <li><p><%= o.proportion %></p></li>
                  </ul>
                <% });} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src="./js/<%= active %>.js"></script>
  </div>
</body>
</html>