<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <style>
    /*remuneration--------------------------------------------------------------------*/
    .remuneration .publicContent{
      padding-bottom: 0;
    }
    .remuneration .customTable{
      border: 1px solid #4A4C55;
      display: flex;
      height: calc(100vh - 100px - 77px - 48px - 67px);
      overflow: auto;
    }
    .remuneration .customTable ul{
      flex: 0 0 140px;
    }
    .remuneration .customTable ul.table_title{
      position: sticky;
      left: 0;
      z-index: 1;
    }
    .remuneration .customTable ul.table_title li{
      background-color: #252730;
      border-right: 1px solid #4A4C55;
    }
    .remuneration .customTable ul.table_content+.table_content li{
      border-left: 1px solid #4A4C55;
    }
    .remuneration .customTable ul li:first-child{
      border-bottom: 1px solid #4A4C55;
      background-color: #252730;
      position: sticky;
      top: 0;
      cursor: move;
    }
    .remuneration .customTable li{
      padding: 12px;
      height: 50px;
    }
    .remuneration .customTable li+li{
      border-top: 1px solid #4A4C55;
    }
    .remuneration .customTable li.name{
      height: 75px;
    }
    .remuneration .customTable li p.green{
      color: #198754;
    }
    .remuneration .publictitle{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .remuneration .publictitle .time{
      font-size: 12px;
      color: #7d7b8a;
    }
    .remuneration .control a.add{
      font-size: 14px;
      font-weight: 300;
      padding: 3px 16px;
      color: #feeeaf;
      border: 1px solid #DEB103;
    }
    .remuneration .control a.add:hover{
      font-size: 15px;
      font-weight: 600;
      color: #252730;
      background: #DEB103;
    }
    /* .remuneration .control a.add{
      margin-left: 5px;
      width: 24px;
      display: flex;
      align-items: center;
    } */
    /* .remuneration .control a.add svg{
      margin-top: 1px;
      fill: #3A61F6;
    } */
    .remuneration .control a.delet{
      width: 18px;
      position: absolute;
      right: 5px;
      bottom: 8px;
    }
    .remuneration .control a.delet svg{
      fill: #F95F53;
    } 
  </style>
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publicBox">
          <div class="publictitle">
            <div class="title">
              <h4>股票報酬統計</h4>
              <p class="time">更新時間 : <%= data[0]['dataDate'] %></p>
            </div>
            <div class="control">
              <a href="javascript:;" class="add" onClick="addStrock()">
                新增
                <!-- <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm0 1.5c-4.69 0-8.497 3.808-8.497 8.498s3.807 8.497 8.497 8.497 8.498-3.807 8.498-8.497-3.808-8.498-8.498-8.498zm-.747 7.75h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" fill-rule="nonzero"/></svg> -->
              </a>
            </div>
          </div>
          <div class="customTable">
            <ul class="table_title">
              <li class="name"><p>名稱</p></li>
              <% data[0]['stockPayYear'].forEach(function(y) { %>
                <li class="<%= y.year %>"><p><%= y.year %>年</p></li>
              <% }); %>
              <li>年化</li>
              <% data[0]['stockPayMonth'].forEach(function(m) { %>
                <li class="<%= m.month %>"><p><%= m.month %>月</p></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
  </div>
  <script>
    function creatStrockHtml(data){
      const isActive = (avenge)=>{
        return Math.sign(parseInt(avenge))<0?'active':''
      }
      const stockPayYear = data['stockPayYear'].map(element => {
        return `<li class="${element.year}"><p class="${isActive(element.avenge)}">${element.avenge}</p></li>`
      }).join('');
      const stockPayMonth =data['stockPayMonth'].map(element => {
        return `<li class="${element.month}"><p class="${isActive(element.avenge)}">${element.avenge}</p></li>`
      }).join('');
      const html = `<ul class="table_content" draggable="true">
        <li class="name">
            <div class="text">
              <p class="publicEllipsis1">${data['stockname']}</p>
              <p>${data['stockno']}</p>
            </div>
            <div class="control">
              <a href="javascript:;" class="delet" onclick="deletStrock(this)" data-id="${data['id']}" data-sort="${data['sort']}">
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm4.253 7.75h-8.5c-.414 0-.75.336-.75.75s.336.75.75.75h8.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z" fill-rule="nonzero"></path></svg>
              </a>
            </div>
          </li>
          ${stockPayYear}
          <li><p>${data['stockCagr']}</p></li>
          ${stockPayMonth}
      </ul>`
      document.querySelector('.customTable').insertAdjacentHTML('beforeend',html)
      
    }
    function addStrock(){
      console.log('addStrock')
      const stockno = window.prompt('您好!請輸入股號', '0050');
      if (stockno) {
        const stockname = window.prompt('請輸入股名', '元大台灣50');
        if (stockname) {
          getJSON({
            'url': './remuneration',
            'method': 'POST',
            'body': {
              'stockno': stockno,
              'stockname': stockname
            }
          }).then(function (json) {
            if(json.result=='false'){alert(json.message);return false;}
            json.data.stockno = stockno
            json.data.stockname = stockname
            creatHtml(json.data)
            alert(`新增${stockname}(${stockno})成功`)
          });
        } 
      } 
    }
    function deletStrock(obj){
      event.stopPropagation()//停止冒泡
      if (confirm('你確定你要刪除該股票') == true) {
        getJSON({
          'url': `./remuneration/${obj.dataset.id}`,
          'method': 'DELETE'
        }).then(function (json) {
          obj.closest('.table_content').remove();
          alert(json.message)
        });
      }
    }
    function dragStrock(obj){
      let source;
      const table_content = document.querySelectorAll('.table_content')
      function dragstart(evt) {
        console.log('dragstart-1')
        // source = evt.target;
        source = evt.target.closest('.table_content')
        evt.dataTransfer.setData("text/plain", evt.target.innerHTML);
        evt.dataTransfer.effectAllowed = "move";
      }
      function dragover(evt) {
        console.log('dragover-3')
        evt.preventDefault();
        evt.dataTransfer.dropEffect = "move";
      }
      function dropped(evt) {
        console.log('dropped-5')
        evt.preventDefault();
        evt.stopPropagation();
        source.innerHTML = evt.target.closest('.table_content').innerHTML;
        evt.target.closest('.table_content').innerHTML = evt.dataTransfer.getData("text/plain");
        // source.innerHTML = evt.target.innerHTML;
        // evt.target.innerHTML = evt.dataTransfer.getData("text/plain");

        //updat sort
        const sortObj = table_content.map((o,i)=>{
          o.querySelector('.control .delet').dataset.sort = i+1
          return {'id': delet.dataset.id,'sort':i+1}
        })
        console.log(sortObj)
      }
      // function dragenter(){
      //   console.log('dragenter-2')
      // }
      // function dragLeave(){
      //   console.log('dragLeave-4')
      // }
      // function dragend(){
      //   console.log('dragend-6')
      // }
      table_content.forEach(function (item) {
        item.addEventListener('dragstart', dragstart, false);
        // item.addEventListener('dragenter', dragenter, false);
        item.addEventListener('dragover', dragover, false);
        // item.addEventListener('dragleave', dragLeave, false);
        item.addEventListener('drop', dropped, false);
        // item.addEventListener('dragend', dragend, false);
      });
    }
    (async function(){
      // const rows = JSON.parse('<%- JSON.stringify(data) %>')
      // for (const row of rows) {
      //   await creatStrockHtml(row)
      // }
      JSON.parse('<%- JSON.stringify(data) %>').forEach(d=>creatStrockHtml(d))
      dragStrock()
    }())
  </script>
</body>
</html>