<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <link rel="stylesheet" href="css/<%= active %>.css">
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publictitle">
          <div class="title">
            <h4>股票報酬</h4>
          </div>
        </div>
        <form action="" class="publicForm">
          <div class="publicGrid5">
            <div class="item">
              <div class="label">
                <label for="stock">比較股號</label>
              </div>
              <div class="input">
                <input type="number" name="stock[]" value="0050" placeholder="0050">
              </div>
            </div>
            <div class="item">
              <div class="label">
                <label for="stock">比較股號</label>
              </div>
              <div class="input">
                <input type="number" name="stock[]" value="00713" placeholder="0050">
              </div>
            </div>
            <div class="item">
              <div class="label">
                <label for="stock">比較股號</label>
              </div>
              <div class="input">
                <input type="number" name="stock[]" value="0056" placeholder="0050">
              </div>
            </div>
            <div class="item">
              <div class="label">
                <label for="stock">比較股號</label>
              </div>
              <div class="input">
                <input type="number" name="stock[]" placeholder="0050">
              </div>
            </div>
            <div class="item">
              <div class="label">
                <label for="stock">比較股號</label>
              </div>
              <div class="input">
                <input type="number" name="stock[]" placeholder="0050">
              </div>
            </div>
          </div>
          <div class="publicGrid3">
            <div class="item">
              <div class="label">
                <label for="date_start">開始時間</label>
              </div>
              <div class="input">
                <input type="date" name="date_start" id="date_start" value="2023-01-01">
              </div>
            </div>
            <div class="item">
              <div class="label">
                <label for="date_end">結束時間</label>
              </div>
              <div class="input">
                <input type="date" name="date_end" id="date_end" value="2023-02-01">
              </div>
            </div>
            <div class="item">
              <a href="javascript:;" class="btn serch" onClick="serchStrock()">
                送出<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
              </a>
            </div>
          </div>
        </form>
        <div class="publicBox">
          <div id="chart"></div>
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
  <script src="./js/<%= active %>.js"></script>
</body>
</html>