<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&family=Noto+Serif+TC:wght@300;500;700;900&display=swap');
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    body {
        font-family: 'Noto Sans TC',sans-serif;
        margin: 0;
        padding: 0;
        color: #7d7b8a;
        font-size: 16px;
        position: relative;
        background: #1f2127;
        user-select: none;
    }

    *,
    *::before,
    *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .container {
        width: 86%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
    }

    ul {
        list-style: none;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none
    }

    .list-inline {
        padding-left: 0;
        list-style: none
    }

    .list-inline>li {
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
    }

    img {
        border: 0;
        display: block;
    }

    a {
        color: inherit;
        text-decoration: none;
        display: block;
    }
    textarea:focus,
    input:focus{
        outline: none;
    }
    /*共用--------------------------------------------------------------------*/
    /*publicWidth*/
    .publicWidth{
      max-width: 1280px;
      margin: auto;
      padding: 0 20px;
      display: flex;
    }
    @media (max-width: 1360px){
      .publicWidth {
        max-width: calc(100% - 60px);
      }
    }
    @media (max-width: 576px){
      .publicWidth {
        max-width: 576px;
      }
    } 
    .publicPage{
      background: #1f2127;
    }
    .publicNav{
      position: fixed;
      width: 100%;
      padding: 16px 0;
      border-bottom: 1px solid #4A4C55;
      background: #1F2127;
      z-index: 99;
    }
    .publicNav .publicWidth{
      align-items: center;
      justify-content: space-between;
    }
    .publicNav .logo a{
      font-size: 24px;
      color: #808191;
      display: flex;
      align-items: center;
    }
    .publicNav .logo a svg{
      width: 28px;
      height: auto;
      fill: #3A61F6;
      margin-right: 5px;
    }
    .publicNav .nav ul{
      display: flex;
    }
    .publicNav .nav a{
      color: #7d7b8a;
      font-size: 14px;
      padding: 0 16px;
    }
    .publicNav .nav a.active{
      color: #fff;
    }
    .publicContent{
      padding: 100px 0;
    }
    .publicFooter{
      padding: 30px;
      display: flex;
      justify-content: center;
    }
    .publicFooter small{
      font-size: 12px;
      color: rgb(128, 129, 145);
    }
    .publicBox{
      padding: 24px;
      background-color: #252730;
      border-radius: 15px;
    }
    .publictitle{
      color: #D8D9E3;
      font-size: 18px;
      margin-bottom: 24px;
    }
    /* .publicTable{
      border: 1px solid #4A4C55;
    }
    .publicTable .title{
      border-bottom: 2px solid #808191;
    }
    .publicTable p{
      font-size: 14px;
    }
    .publicTable ul{
      display: flex;
    }
    .publicTable li{
      flex: 1 0;
      padding: 12px;
      display: flex;
      align-items: center;
      border-top: 1px solid #4A4C55;
    }
    .publicTable ul:nth-child(1) li{
      border-top: none;
    }
    .publicTable li+li{
      border-left: 1px solid #4A4C55;
    } */
    /* 單行 */
    .publicEllipsis1 {
      overflow: hidden;
      white-space: normal;
      display: -webkit-box;
      /* 行數 */
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    /* 多行 */
    .publicEllipsis2 {
      overflow: hidden;
      white-space: normal;
      display: -webkit-box;
      /* 行數 */
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    /*remuneration--------------------------------------------------------------------*/
    .remuneration .publicContent{
      padding-bottom: 0;
    }
    /* .remuneration .publicBox{
      margin-top: 30px;
      width: 100%;
    } */
    .remuneration .customTable{
      border: 1px solid #4A4C55;
      display: flex;
    }
    .remuneration .customTable ul{
      flex: 0 0 120px;
    }
    .remuneration .customTable ul+ul{
      border-left: 1px solid #4A4C55;
    }
    .remuneration .customTable li{
      padding: 12px;
      display: flex;
      /* align-items: center; */
      height: 50px;
    }
    .remuneration .customTable li+li{
      border-top: 1px solid #4A4C55;
    }
    .remuneration .customTable li.name{
      height: 75px;
    }
    .remuneration .customTable .control a{
      width: 26px;
      display: flex;
      align-items: center;
    }
    .remuneration .customTable .control a svg{
      margin-top: 1px;
      width: 18px;
      height: auto;
      fill: #3A61F6;
    }
    .remuneration .customTable .control a.delet svg{
      fill: #F95F53;
    } 
    .remuneration .table_content_div{
      overflow: auto;
      display: flex;
      border-left: 1px solid #4A4C55;
    }
  </style>
</head>
<body>
  <div class="publicPage <%= active %>">
    <div class="publicNav">
      <div class="publicWidth">
        <div class="logo">
          <a href="#home">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.394 15.759s7.554 4.246 9.09 5.109c.165.093.333.132.492.132.178 0 .344-.049.484-.127 1.546-.863 9.155-5.113 9.155-5.113.246-.138.385-.393.385-.656 0-.566-.614-.934-1.116-.654 0 0-7.052 3.958-8.539 4.77-.211.115-.444.161-.722.006-1.649-.928-8.494-4.775-8.494-4.775-.502-.282-1.117.085-1.117.653 0 .262.137.517.382.655zm0-3.113s7.554 4.246 9.09 5.109c.165.093.333.132.492.132.178 0 .344-.049.484-.127 1.546-.863 9.155-5.113 9.155-5.113.246-.138.385-.393.385-.656 0-.566-.614-.934-1.116-.654 0 0-7.052 3.958-8.539 4.77-.211.115-.444.161-.722.006-1.649-.928-8.494-4.775-8.494-4.775-.502-.282-1.117.085-1.117.653 0 .262.137.517.382.655zm10.271-9.455c-.246-.128-.471-.191-.692-.191-.223 0-.443.065-.675.191l-8.884 5.005c-.276.183-.414.444-.414.698 0 .256.139.505.414.664l8.884 5.006c.221.133.447.203.678.203.223 0 .452-.065.689-.203l8.884-5.006c.295-.166.451-.421.451-.68 0-.25-.145-.503-.451-.682z" fill-rule="nonzero"/></svg>
            股票觀測站
          </a>
        </div>
        <div class="nav">
          <ul>
            <li><a href="remuneration">股票報酬</a></li>
            <li><a href="backtest">股票回測</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publicBox">
          <h4 class="publictitle">股票報酬統計</h4>
          <div class="customTable">
            <ul class="table_title">
              <li class="name">
                <!-- <div class="control">
                  <a href="#" class="add">
                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm0 1.5c-4.69 0-8.497 3.808-8.497 8.498s3.807 8.497 8.497 8.497 8.498-3.807 8.498-8.497-3.808-8.498-8.498-8.498zm-.747 7.75h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" fill-rule="nonzero"/></svg>
                  </a>
                </div> -->
                <p>名稱</p>
              </li>
              <% data[0]['stockPayYear'].forEach(function(y) { %>
                <li class="<%= y.year %>"><p><%= y.year %>年</p></li>
              <% }); %>
              <li>年化</li>
              <% data[0]['stockPayMonth'].forEach(function(m) { %>
                <li class="<%= m.month %>"><p><%= m.month %>月</p></li>
              <% }); %>
            </ul>
            <div class="table_content_div">
              <% data.forEach(function(d) { %>
                <ul class="table_content">
                  <li class="name">
                    <!-- <div class="control">
                      <a href="#" class="delet">
                        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm4.253 7.75h-8.5c-.414 0-.75.336-.75.75s.336.75.75.75h8.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z" fill-rule="nonzero"/></svg>
                      </a>
                    </div> -->
                    <div class="text">
                      <p class="publicEllipsis1"><%= d.stockname %></p>
                      <p><%= d.stockno %></p>
                    </div>
                  </li>
                  <% d.stockPayYear.forEach(function(y) { %>
                    <li class="<%= y.year %>"><p><%= y.avenge %></p></li>
                  <% }); %>
                  <li>年化</li>
                  <% d.stockPayMonth.forEach(function(m) { %>
                    <li class="<%= m.month %>"><p><%= m.avenge %></p></li>
                  <% }); %>
                </ul>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="publicFooter">
      <small>Copyright © 2023. All rights reserved.</small>
    </div>
  </div>
</body>
</html>